@media screen and (max-width: 1830px) {
    .main-img {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    .nav {
        display: none;
    }
    //HIDDEN-NAV
    .hidden-nav-btn {
        position: absolute;
        right: 4vw;
        top: 12vw;

        display: grid !important;
        justify-items: end;
        gap: 1vw;

        hr {
            border: 2px solid var(--light-red-col);
        }
        .long-hr {
           width: 6vw;
        }
        .short-hr {
            width: 3vw;
        }
    }

    //HEADER
    .header {
        padding-inline: clamp(10px, 4vw, 50px);
        &-left {
            &-info {
                display: none;
            }
            &-logo {
                width: clamp(70px, 15vw, 140px);
            }
        }
        &-right {
            display: flex;
            gap: clamp(5px, 2vw, 15px);
            &-profile {
                margin-left: clamp(5px, 2vw, 50px) !important;
                &-logo {
                    width: clamp(30px, 5vw, 58px);
                }
            }
            &-info {
                a {
                    padding: clamp(3px, 1vw, 14px) clamp(6px, 1.5vw, 15px) !important;
                }
            }
            &-links {
                margin-left: 5px;
                gap: 2vw;
                border: none;
                padding: 0 !important;
                .arrow {
                    display: none;
                }
                img {
                    height: 5vw;
                    max-height: 40px;
                }
            }
        }
    }


    //formPage
    .form {
        cursor: pointer;
        color: var(--dark-gray-col);
        &-sign-up,
        &-sign-in,
        &-request {
            row-gap: clamp(10px, 4vw, 35px) !important;
        }
        &Page {
            &-header {
                max-height: 50px !important;
                margin-bottom: clamp(30px, 10vw, 100px) !important;
            }
            &-form {
                input {
                    padding: clamp(6px, 2vw, 19px) clamp(10px, 3vw, 30px) !important;
                    width: 80vw !important;
                    max-width: 600px;
                }
            }
            &-block {
                padding: clamp(20px, 4vw, 40px) clamp(15px, 3vw, 30px)!important;
            }
        }
        &-button {
            font-size: clamp(12px, 2vw, 29px);
            color: var(--light-col);
            background: linear-gradient(to bottom, var(--light-red-col), var(--dark-gray-col)) !important;
        }
    }
    

    // SECTION 1
    .main {
        margin-bottom: clamp(10px, 5vw, 60px);
        &-text {
            width: 95vw;
        }
        &-for-buisness {
            padding: 7px 40px;
            margin: 10px 0 25px 20px;
        }
        &-input {
            border-radius: 10px;
            margin-bottom: 40px;
            input{
                padding: 6px 20px;
            }
        }
        &-grid {
            gap: clamp(20px, 8vw, 40px);
            &-block {
                width: 40vw !important;
                height: clamp(90px, 22vw, 150px);
                img {
                    height: clamp(40px, 12vw, 110px);
                    right: clamp(2px, 4vw, 10px);
                    bottom: -9px;
                }
            }
            &-less {
                gap: clamp(20px, 8vw, 40px) !important;
            }
            &-greater {
                .main-grid-block {
                    height: clamp(180px, 40vw, 350px);
                    img {
                        margin-right: clamp(5px, 6vw, 40px);
                        margin-bottom: clamp(5px, 3vw, 10px);
                    }
                }
            }
        }
    }


    // SECTION 2
    .section-2 {
        padding: 30px 30px 30px 0;
    }
    .circle-wrapper {
        margin-right: clamp(5px, 3vw, 20px);
        transform: scale(0.68);
    }
    .ellipse-img {
        display: none;
    }
    .sec2 {
        &-circle {
            position: relative !important;
            display: grid !important;
            margin-left: clamp(2px, 1vw, 60px);
            gap: clamp(8px, 4vw, 45px);
            &-block { 
                h3 {
                    text-align: left;
                }
            }
        }
    }


    // SECTION 3
    .section-3 {
        padding: 7vw !important;
    }
    .sec3 {
        &-header {
            margin-bottom: clamp(50px, 15vw, 120px) !important;
            p {
                font-size: clamp(20px, 6vw, 50px) !important;
            }
            &-link {
                font-size: clamp(15px, 5vw, 30px) !important;
            }
        }
        &-content {
            &-block {
                padding: 30px 20px;
                p {
                    font-size: clamp(20px, 6vw, 40px) !important;
                    margin-bottom: clamp(40px, 15vw, 200px) !important;
                }
            }
        }
    }

    // SECTION 4
    .section-4 {
        padding: clamp(10px, 10vw, 70px);
    }
    .sec4 {
        &-join-us {
            padding: clamp(15px, 12vw, 100px) clamp(10px, 5vw, 40px);

            img {
                height: clamp(90px, 14vw, 130px);
            }
        }
        &-right-now {
            p {
                font-size: clamp(25px, 5vw, 50px);
            }
        }
        &-button {
            font-size: clamp(18px, 4vw, 30px);
        }
        &-news {
            p {
                font-size: clamp(35px, 8vw, 55px);
            }
        }
        &-info {
            p, span {
                font-size: clamp(14px, 5vw, 23px);
            }
            &-bar {
                p {
                    font-size: clamp(18px, 6vw, 27px);
                }
            }
        }
        &-person {
                &5 {
                    @media (max-width: 830px) {
                        display: none;
                    }
                }
                &4 {
                    @media (max-width: 710px) {
                        display: none;
                    }
                }
                &3 {
                    @media (max-width: 480px) {
                        display: none;
                    }
                }
                &2, &1 {
                    @media (max-width: 400px) {
                        display: none;
                    }
                }
        }
    }
}