@import url(../css/reset.css);
@import url(../css/media.css);
@import url(./components/section1.css);
@import url(./components/section2.css);
@import url(./components/section3.css);
@import url(./components/section4.css);

@font-face {
    font-family: AA Stetica;
    src: url(../fonts/AAStetica.ttf);
    font-weight: 500px;
}

:root {
    --light-col: #fff;
    --dark-col: #000;
    --dark-gray-col: #989ea3;
    --light-gray-col: #f3f2f2;
    --light-red-col: #a7182d;
    --dark-red-col: #410912;
}

body {
    background: linear-gradient(to bottom, var(--light-red-col) 30%, var(--light-col));
}

.container {
    background-color: var(--light-col);
    color: var(--light-red-col);
    font-size: 25px;
    font-family: AA Stetica, sans-serif;
    max-width: 2560px;
    margin: 0 auto;
}

h1 {
    font-size: 25px;
    color: var(--dark-col);
}

a,
h1,
a > p,
a > img,
.header-left-info,
.header-right-info,
.link {
    position: relative;
    transition: all 0.4s ease, transform 0.3s ease;
}

a:hover,
h1:hover,
a > p:hover,
a > img:hover,
.header-left-info:hover,
.header-right-info:hover,
.link:hover {
    h1 {
        color: var(--dark-red-col);
    }
    filter: brightness(0.7);
    transform: scale(1.03) !important;
}

a:active,
h1:active,
a > p:active,
a > img:active,
.header-left-info:active,
.header-right-info:active,
.link:active {
    h1 {
        color: var(--dark-red-col, 0.5);
    }
    filter: brightness(0.5);
    transform: scale(0.99) !important;
}
