
/* 1st */
.profile-block.block-1 {
    display: block;
}

.skill-list {
    color: var(--dark-col);
    h2 {
        margin-top: 50px;
        font-size: clamp(15px, 4vw, 30px);
    }
    .add-skill {
        font-size: clamp(12px, 2vw, 24px);
        margin-top: 15px;
        
        color: var(--light-col);
        padding: 10px 30px;
        border-radius: 20px;
        background: linear-gradient(to right, var(--light-red-col), var(--dark-red-col));
    }
    &-block {
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
        padding: 15px 25px;
        width: fit-content;
        margin-top: 30px;
        border-radius: 20px;
        border: 2px solid var(--dark-gray-col);
    }

    .skill-el {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 24px;
        background-color: rgb(202, 201, 201);
        color: var(--dark-col);
        font-size: clamp(10px, 2.8vw, 18px);
    }
    
    .delete-skill {
        margin-left: 14px;
        font-size: 32px;
    }
}


.profile-header {
    display: flex;
    height: fit-content;
    align-items: start;
    justify-content: space-between;
    h2 {
        font-size: 53px;
        color: var(--dark-col);
    }
    &-left {
        display: flex;
    }
    &-img {
        padding: 50px;
        margin-bottom: 70px;
        margin-right: 61px;
        border-radius: 30px;
        background-color: var(--dark-gray-col, 0.35);
    }
}

.add-organization {
    display: flex;
    height: fit-content;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    box-shadow: 5px 5px 15px gray;
    border-radius: 30px;
    padding: 26px 42px;

    p {
        font-size: 21px;
        color: var(--dark-gray-col);
    }
    span {
        font-size: 30px;
        color: var(--dark-col);
    }
    button {
        color: var(--light-col);
        font-size: 21px;
        padding: 10px 30px;
        border-radius: 20px;
        background: linear-gradient(to right, var(--light-red-col), var(--dark-red-col));
    }
}