.profile-container {
    background: linear-gradient(to bottom, var(--light-red-col), var(--dark-gray-col), var(--light-red-col));
    height: 100vh;
    padding: 87px 200px;
}

.profile-main-content {
    display: flex;
    margin: 0 auto;
    padding: 48px 61px;
    border-radius: 50px;
    background: linear-gradient(to bottom, var(--light-col), var(--light-gray-col));
}

.sidebar {
    margin-right: 15px;
}

.sidebar-list {
    display: grid;
    gap: 30px;

}

.sidebar-el {
    display: flex;
    align-items: center;
    font-size: 21px;
    width: 235px;
    
    
    color: var(--dark-col);
    border-radius: 20px;
    cursor: pointer;
    background: var(--light-col);
}

.sidebar-onclick   {
    padding: 4px 19px;  
}

.profile-block {
    padding: 10px 90px;
    display: grid;
    text-align: left;

    margin-bottom: 150px;
}

/* 1st */
.profile-block.block-1 {
    display: grid;
    gap: 70px;
}

.profile-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    h2 {
        font-size: 53px;
        color: var(--dark-col);
    }
}

.profile-header-left {
    display: flex;
}

.profile-header-img {
    padding: 50px;
    margin-right: 61px;
    border-radius: 30px;
    background-color: var(--dark-gray-col, 0.35);
}

.add-organization {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    box-shadow: 5px 5px 15px gray;
    border-radius: 30px;
    padding: 26px 42px;

    p {
        font-size: 21px;
        color: var(--dark-gray-col);
    }
    span {
        font-size: 30px;
        color: var(--dark-col);
    }
    button {
        color: var(--light-col);
        font-size: 21px;
        padding: 10px 30px;
        border-radius: 20px;
        background: linear-gradient(to right, var(--light-red-col), var(--dark-red-col));
    }
}
/* 2nd */
.profile-block.block-2 {
    h2 {
        font-size: 53px;
        color: var(--dark-col);
        margin-bottom: 25px;
    }
}

.profile-second-select-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;    
    margin-bottom: 17px;
}

.profile-second-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 20px 20px;
    border-radius: 20px;
    border: 3px solid  var(--dark-gray-col);
    width: 300px;
    
    p {
        font-size: 17px;
        color: var(--dark-gray-col);
    }
}

.profile-second-btn-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.profile-row-el {
    font-size: 17px;
    color: var(--dark-col);
    padding: 10px 20px;
    border: 1px solid  var(--dark-gray-col);
    border-radius: 20px;
}

.profile-second-not-found {
    display: grid;
    text-align: center;
    margin-top: 80px;
    
    p {
        font-size: 20px;
        color: var(--dark-gray-col);
        margin-bottom: 25px;
    }
}

.reset-filters {
    font-size: 20px;
    color: var(--light-col);
    padding: 16px 47px;
    border-radius: 20px;
    background: linear-gradient(to right, var(--light-red-col), var(--dark-red-col));
}

.not-found-block {
    h2 {
        font-size: 28px !important;
    }
    img {
        margin-bottom: 25px;
    }
}

/* 3rd */
.profile-block.block-3 {
    display: grid;
}

.profile-third-1st-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 30px;

    h2 {
        font-size: 53px;
        color: var(--dark-col);
    }
    div {
        display: flex;
        justify-content: space-between;
        column-gap: 58px;
        padding: 14px 47px;

        font-size: 29px;
        color: var(--dark-gray-col);
        border-radius: 30px;
        background: lightgray !important;
        border: 3px solid gray;
    }
}

.profile-third-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 27px;
    margin-bottom: 45px;
    
    color: var(--dark-gray-col);
    border-radius: 30px;
    background: lightgray !important;
    border: 3px solid gray;
    
    img {
        z-index: 100;
    }
    input {
        width: 100%;
        height: 100%;
    }
}

.profile-third-last-row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    margin-bottom: 135px;
}

.profile-third-last-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 14px 20px;
    width: 330px;

    font-size: 20px;
    color: var(--light-col);
    background: linear-gradient(to right, var(--light-red-col), var(--dark-red-col));
}

.profile-third-info {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.profile-third-info-block {
    padding: 30px;
    text-align-last: left;
    border-radius: 30px;
    box-shadow: 5px 5px 15px gray;
    width: 500px;
    height: 340px;

    h2 {
        font-size: 30px;
        color: var(--dark-col);
        margin-bottom: 10px;
    }
    p {
        font-size: 20px;
        color: var(--dark-gray-col);
        margin-bottom: 20px;
    }
    h3 {
        font-size: 25px;
        color: var(--dark-col);
    }
}
    
/* 4th */