/* SECTION2 */
.section-2 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 280px;
    row-gap: 150px;
    justify-content: space-between;
    padding: 70px 70px 70px 0px;
}

.sec2 {
    &-ellipse {
        position: relative;
    }
    &-blur {
        position: absolute;
        top: 220px;
        left: -200px;
    
        width: 490px;
        height: 490px;
        background-color: var(--light-red-col);
        filter: blur(180px);
    }
    &-circle {
        position: absolute;
        &-block {
            display: flex;
            width: 600px;
            align-items: center;
            text-align: center;
        
            h3 {
                font-size: clamp(10px, 4vw, 32px);    
                color: var(--dark-col);
            }
        }
    }
    
    &-content {
        margin-left: 5vw;
        display: grid;
        text-align: right;

        &-text {
            font-size: clamp(30px, 6vw, 55px);    

            color: var(--dark-col);
            font-weight: 600;
            margin-bottom: 30px;
            span {
                color: var(--light-red-col);
            }
        }
        &-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 21px;
            row-gap: clamp(30px, 7vw, 80px);
        }
        &-block {
            display: grid;
            text-align: left;
            max-width: 365px;
            padding: 19px 23px 38px 33px;
            border-radius: 30px;
            background-color: var(--light-gray-col);
            color: var(--dark-col);
            font-size: clamp(14px, 2.3vw, 25px);    
            font-weight: 600;
        
            span {
                font-size: clamp(35px, 8vw, 75px);    
                color: var(--light-red-col);
            }
            h4 {
                font-size: clamp(24px, 5.5vw, 47px);    
            }
        }
    }
}

.circle-wrapper {
    position: relative;
    padding: 23px;
    width: 108px;
    height: 108px;
    margin-right: 40px;
    background-color: var(--light-col);
    border-radius: 50%;
    box-shadow: 3px 3px 14px gray;
}

@media (min-width: 980px) {
    .sec2-circle{
        .block {
            @mixin block-values($top, $left) {
                position: absolute;
                top: $top;
                left: $left;
            }   
            &1 {
                @include block-values(-950px, 130px)  
            }
            &2 {
                @include block-values(-740px, 380px)  
            }
            &3 {
                @include block-values(-490px, 470px)  
            }
            &4 {
                @include block-values(-240px, 380px)  
            }
            &5 {
                @include block-values(-60px, 130px)  
            }
            &6 {
                @include block-values(-490px, 30px)  
            }
        }
    }
}    

