/* Header */
.header {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(8px, 2vw, 25px);
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-col);
    padding: 42px 70px 16px;

    &-left {
        display: flex;
        align-items: center;

        &-info {
            display: flex;
            align-items: center;
            margin-left:  clamp(20px, 5vw, 90px);
            font-size: clamp(14px, 3vw, 19px);
            
            a,
            p {
                font-size: clamp(13px, 3vw, 25px);
                margin: 0 10px;
                color: var(--dark-gray-col);
            }
        }
    }
    
    &-right {
        display: flex;
        align-items: center;
        
        &-info {
            a {
                color: var(--light-red-col);
                padding: 14px 31px;
                font-size: clamp(10px, 2vw, 15px) !important;
                border: 2px solid var(--dark-col);
                border-radius: 26px;
            }
        }

        &-links {
            display: flex;
            align-items: center;
            margin-left: 11px;
            padding: 5px 22px;
            border: 2px solid var(--light-red-col);
            border-radius: 26px;
        }

        &-profile {
            display: flex;
            column-gap: clamp(10px, 3vw, 20px);
            margin-left: 140px;
            a {
                color: var(--dark-gray-col);
            }
            align-items: center;
        }
    }
}

/* NAV */
.nav {
    border-bottom: 1px solid lightgrey;
    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 25px !important;
        align-items: center;
        justify-content: space-between !important;
        padding: 10px 70px; 
    }

    &-link{
        position: relative;
    }

    &-dropdown{
        position: absolute;
        z-index: 1000;
        display: none;
        justify-content: space-between;
        row-gap: 50px;
        top: 50px;
        
        padding: 53px 80px;
        background: var(--light-gray-col);
        border-radius: 30px;
        p {
            font-size: clamp(18px, 3.4vw, 31px);
            margin-bottom: 30px;
        }
        h5 {
            font-size: 40px;
            font-size: clamp(24px, 3.7vw, 40px);
            font-weight: 600;
            margin-bottom: 30px;
        }

        &-left {
            display: grid;
            padding: 27px;
            text-align: left;
            margin-right: 100px;
            min-width: 351px;
            
            border: 2px solid var(--light-red-col);
            border-radius: 30px;
        }

        &-right  {
            display: flex;
            
            hr {
                width: 2px;
                height: 100%;
                background-color: var(--light-red-col);
                margin-inline: 85px;
            }
            span {
                font-size: clamp(27px, 4vw, 47px);
                font-weight: 600;
            }
            p {
                font-size: clamp(21px, 3.3vw, 30px);
                line-height: 2;
            }
        }

        &-button  {
            width: 131px;
            padding: 12px;
            color: var(--light-col);
            background: linear-gradient(to bottom, var(--dark-red-col), var(--light-red-col));
            border-radius: 20px;
            margin-bottom: 60px;
        }

        &.dropdown-right-aligned {
            left: auto;
            right: 0;
        }
    }
}

/* MAIN */
.main {
    position: relative;
    display: grid;
    padding: 1.2vw 3.64vw 3.64vw;
    background: linear-gradient(to top, var(--light-col) 90%, #afb0b0);

    &-text {
        margin-top: 30px;
        font-size: clamp(20px, 4vw, 50px);
        color: var(--dark-col);

        &::first-line {
            position: relative;
            color: var(--light-red-col);
        }
    }

    &-content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    &-input {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        font-size: clamp(12px, 2vw, 23px);
        color: var(--dark-col);
        opacity: 0.5;
        border-radius: 35px;
        border: 2px solid var(--dark-col, 0.5);
        margin-bottom: 70px;
        
        input {
            padding: 22px 40px;
            width: 100%;
        }
    }

    &-for-buisness {
        margin: 20px 0 50px 110px;
        font-size: clamp(14px, 3.7vw, 40px);
        max-width: 410px;
        padding: 7px 80px;
        border-radius: 35px;
    
        background: linear-gradient(to right, var(--light-red-col) 50%, #989ea3);
        color: var(--light-col);
    }

    &-img {
        position: block;
        min-width: 20%;
        margin-top: -100px;
        img {
            border-radius: 20px;
        }
    }
    
    &-grid {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        font-size: clamp(11px, 2.5vw, 24px);
        gap: 55px;
        
        &-less {
            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-wrap: wrap;
            gap: 55px;
        }
        
        &-greater {
            .main-grid-block {
                p {
                    margin-top: -40px;
                }
                position: relative;
                height: 362px;
        
                img {
                    margin-bottom: 40px;
                    margin-right: 80px;
                    transform: scale(1.8);
                }
            }
        }

        &-block {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            width: 390px;
            height: 150px;
            padding-inline: 19px;
            border-radius: 20px;
            background-color: var(--light-gray-col);
            transition: background 1.5s ease, color 0.5s ease, transform 0.5s ease;
        
            img {
                position: absolute;
                right: 20px;
                bottom: -18px;
            }
            &:hover {
                background: linear-gradient(90deg, var(--light-red-col) 25%, var(--dark-gray-col) 100%);
                color: var(--light-col);
            }
        }
    }
}
