/* SECTION2 */
.section-2 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 330px;
    row-gap: 150px;
    justify-content: space-between;
    padding: 70px 70px 70px 0px;
}

.sec2-ellipse {
    position: relative;
}

.sec2-blur {
    position: absolute;
    top: 220px;
    left: -200px;

    width: 490px;
    height: 490px;
    background-color: var(--light-red-col);
    filter: blur(180px);
}

.sec2-circle {
    position: absolute;
}

.sec2-circle-block {
    display: flex;
    width: 600px;
    align-items: center;
    text-align: center;

    h3 {
        font-size: 32px;
        color: var(--dark-col);
    }
}

.sec2-circle-block.square {
    display: flex;
    align-items: center;
}

.circle-wrapper {
    position: relative;
    padding: 23px;
    width: 108px;
    height: 108px;
    margin-right: 40px;
    background-color: var(--light-col);
    border-radius: 50%;
    box-shadow: 3px 3px 14px gray;
}
.block6 {
    position: absolute;
    top: -490px;
    left: 30px;
}
.block1 {
    position: absolute;
    top: -950px;
    left: 130px;
}

.block2 {
    position: absolute;
    top: -740px;
    left: 380px;
}
.block3 {
    position: absolute;
    top: -490px;
    left: 470px;
}
.block4 {
    position: absolute;
    top: -240px;
    left: 380px;
}
.block5 {
    position: absolute;
    top: -60px;
    left: 130px;
}

.sec2-content {
    display: grid;
    text-align: right;
}

.sec2-content-text {
    font-size: 55px;
    color: var(--dark-col);
    font-weight: 600;
    margin-bottom: 30px;
    span {
        color: var(--light-red-col);
    }
}

.sec2-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 21px;
    row-gap: 88px;
}

.sec2-content-block {
    display: grid;
    text-align: left;
    max-width: 365px;
    padding: 19px 23px 38px 33px;
    border-radius: 30px;
    background-color: var(--light-gray-col);
    color: var(--dark-col);
    font-size: 25px;
    font-weight: 600;

    span {
        font-size: 75px;
        color: var(--light-red-col);
    }
    h4 {
        font-size: 47px;
    }
}
/* .sec2-content-block:first-child,
.sec2-content-block:last-child {
    h4 {
        margin-top: 25px;
    }
    p {
        font-size: 30px;
    }
} */
