/* SECTION4 */
.section-4 {
    padding: 70px;
}

.sec4 {
    &-join-us {
        width: 100%;
        position: relative;
        padding: 105px 60px;
        border-radius: 30px;
        background: linear-gradient(to right, var(--light-red-col), 15%, var(--light-gray-col));
        margin-bottom: 60px;
    
        img {
            position: absolute;
            border-radius: 30px;
        }
    }
    &-right-now {
        display: grid;
        text-align: center;
        p {
            z-index: 100;
            font-size: 54px;
            margin-bottom: 15px;
            color: var(--dark-col);
        }
    }
    &-button {
        z-index: 100;
        font-size: 34px;
        margin: auto;
        padding: 8px 36px;
    
        color: var(--dark-col, 0.5);
        background-color: color-mix(in srgb, var(--light-red-col) 50%, transparent);
        border: 3px solid var(--dark-red-col);
        border-radius: 20px;
    
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.01);
        }
        &:active {
            transform: scale(0.99);
        }
    }

    @mixin persons($direction, $direction-val,$left) {
        #{$direction}: $direction-val;
        left: $left;
    }
    &-person {     
        &1 {
            @include persons(top, 86px, -30px);
        }
        &2 {
            @include persons(top, -36px, 230px);
        }
        &3 {
            @include persons(bottom, -36px, 330px);
        }
        &4 {
            @include persons(top, -6px, 530px);
        }
        &5 {
            @include persons(bottom, -16px, 630px);
        }
    }

    &-news {
        p {
            font-size: 60px;
            font-weight: bold;
            color: var(--dark-col);
            margin-bottom: 33px;
        }
    
        img {
            border-radius: 30px;
        }

        &-block {
            display: flex;
            flex-wrap: wrap;
            gap: 45px;
            justify-content: space-between;
        }
    }

    &-info {
        p {
            font-size: 23px;
        }
        span {
            font-size: 23px;
            color: var(--light-red-col);
        }
        &-bar {
            display: grid;
            flex-wrap: wrap;
            margin-right: 130px;
            p {
                font-size: 30px;
            }
        }
    }
}