@use "./index";
@import url(./reset.css);
@import url(./media.css);

@font-face {
    font-family: AA Stetica;
    src: url("../fonts/AA Stetica/AA Stetica Medium.otf");
    font-weight: 500px;
}

:root {
    --light-col: #fff;
    --dark-col: #000;
    --dark-gray-col: #989ea3;
    --light-gray-col: #f3f2f2;
    --light-red-col: #a7182d;
    --dark-red-col: #410912;
}

body {
    background: linear-gradient(to bottom, var(--light-red-col) 30%, var(--light-col));
    background-repeat: no-repeat;
}

.container {
    position: relative;
    background-color: var(--light-col);
    color: var(--light-red-col);
    font-size: 25px;
    font-family: AA Stetica, sans-serif;
    max-width: 2560px;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

h1 {
    font-size: 25px;
    color: var(--dark-col);
}

a,
h1,
a > p,
a > img,
.form-button,
.header-left-info,
.header-right-info,
.link {
    position: relative;
    transition: all 0.4s ease, transform 0.3s ease;
    cursor: pointer;

    &:active {
        h1 {
            color: var(--dark-red-col);
        }
        filter: brightness(0.7) !important;
        transform: scale(0.99) !important;
    }
    &:hover {
        h1 {
            color: var(--light-red-col, 0.5);
        }
        filter: brightness(0.9);
        transform: scale(1.03);
    }
}

/* РЕГИСТРАЦИЯ */
.registration {
    z-index: 1000000;
    display: none;
    align-self: center;
    margin: auto;
    padding: 100px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--light-red-col), var(--light-col), var(--light-red-col));

    &-block {
        display: grid;
        margin: 0 auto;
        padding: 86px 42px 30px;
        background-color: var(--light-col);
        border-radius: 30px;
        color: var(--dark-gray-col);

        &.reg-sign-up {
            max-height: 1350px;
        }
        &.reg-sign-in {
            max-height: 755px;
        }
    }

    &-header {
        display: flex;
        justify-content: space-between;
        font-size: 60px;
        margin-bottom: 120px;
    }

    &-form {
        display: grid;
        margin: 0 auto;
        row-gap: 145px;

        input {
            width: 640px;
            padding: 21px 35px;
            border-radius: 20px;
            border: 1px solid var(--dark-gray-col);
        }
        p {
            margin-bottom: 30px;
        }
    }
}

.sign-in,
.sign-up {
    cursor: pointer;
    color: var(--dark-gray-col);

    &-form {
        display: grid;
        row-gap: 45px;
    }
}

.form-button {
    font-size: 29px;
    color: var(--light-col);
    background: linear-gradient(to bottom, var(--light-red-col), var(--dark-gray-col)) !important;
}
