.block-6 {
    display: flex;
    font-size: 53px;
    color: var(--dark-col);
    &-chat-bot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 38px 53px 32px 32px;
        margin-top: 28px;
        font-size: 50px;
        color: var(--light-col);
        background: linear-gradient(to right, var(--light-red-col), var(--dark-red-col));
        border-radius: 20px;

        h2 {
            margin-bottom: 14px;
        }
        &-text {
            margin-right: 100px;
            font-size: 40px;
            p {
                font-size: 19px;
            }
            &-tech {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                column-gap: 90px;
                margin-top: 34px;
                p {
                    line-height: 3;
                    border-bottom: 3px dotted var(--light-col);
                }
            }
        }
    }
}
