{% extends 'main/index.html' %} {% block switch-content %}
<div class="profilePage">
    <div class="profile-container">
        <div class="profile-main-content">
            <aside class="sidebar">
                <div class="sidebar-list">
                    <div class="sidebar-el el-1 link">
                        <img
                            src="../../static/main/src/profile/user.svg"
                            alt="user"
                            class="sidebar-img sidebar-onclick el-1"
                        />
                        <p class="sidebar-onclick el-1">Профиль</p>
                    </div>

                    <div class="sidebar-el el-2 link">
                        <img
                            src="../../static/main/src/profile/folder.svg"
                            alt="folder"
                            class="sidebar-img sidebar-onclick el-2"
                        />
                        <p class="sidebar-onclick el-2">Заявки</p>
                    </div>

                    <div class="sidebar-el el-3 link">
                        <img
                            src="../../static/main/src/profile/calendar.svg"
                            alt="calendar"
                            class="sidebar-img sidebar-onclick el-3"
                        />
                        <p class="sidebar-onclick el-3">Мероприятия</p>
                    </div>

                    <div class="sidebar-el el-4 link">
                        <img
                            src="../../static/main/src/profile/server.svg"
                            alt="server"
                            class="sidebar-img sidebar-onclick el-4"
                        />
                        <p class="sidebar-onclick el-4">Сервисы</p>
                    </div>

                    <div class="sidebar-el el-5 link">
                        <img
                            src="../../static/main/src/profile/educate.svg"
                            alt="educate"
                            class="sidebar-img sidebar-onclick el-5"
                        />
                        <p class="sidebar-onclick el-5">Обучение</p>
                    </div>

                    <div class="sidebar-el el-6 link">
                        <img
                            src="../../static/main/src/profile/dialog.svg"
                            alt="dialog"
                            class="sidebar-img sidebar-onclick el-6"
                        />
                        <p class="sidebar-onclick el-6">Поддержка</p>
                    </div>
                </div>
            </aside>

            <div class="profile-block">
                <div class="profile-block block-1">
                    <div class="profile-header">
                        <div class="profile-header-left">
                            <img
                                src="../../static/main/src/profile/img-placeholder.svg"
                                alt="img-placeholder"
                                class="profile-header-img"
                            />
                            <h2>Здесь будет <br />ваше имя</h2>
                        </div>
                        <img src="../../static/main/src/profile/pen.svg" alt="pen" class="link pen" />
                    </div>

                    <div class="add-organization">
                        <p><span>Добавьте организацию</span><br />Чтобы использовать все возможности ЦНП</p>
                        <a href="#!">
                            <button>Добавить</button>
                        </a>
                    </div>
                </div>

                <div class="profile-block block-2" style="display: none">
                    <h2>Заявки</h2>

                    <ul class="profile-second-select-list">
                        <li class="profile-second-select">
                            <p>Аккаунты</p>
                            <select name="Аккаунты" id="fitsr">
                                Аккаунты
                            </select>
                        </li>

                        <li class="profile-second-select">
                            <p>Тип усслуги</p>
                            <select name="Тип усслуги" id="second">
                                Тип усслуги
                            </select>
                        </li>

                        <li class="profile-second-select">
                            <p>Номер заявки</p>
                            <select name="Номер заявки" id="fird">
                                Номер заявки
                            </select>
                        </li>
                    </ul>

                    <div class="profile-second-btn-row">
                        <a href="#!" class="profile-row-el">Все</a>
                        <a href="#!" class="profile-row-el">На рассмотрении</a>
                        <a href="#!" class="profile-row-el">Ждет вашего ответа</a>
                        <a href="#!" class="profile-row-el">Одобренные</a>
                        <a href="#!" class="profile-row-el">Отклоненные</a>
                        <a href="#!" class="profile-row-el">Черновики</a>
                    </div>

                    <div class="profile-second-text" style="display: none">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim ut laborum nesciunt ratione quis
                        magni nihil nobis. Fugit sequi impedit laboriosam, voluptas recusandae saepe beatae sint ab eum
                        voluptatem reiciendis!
                    </div>

                    <div class="profile-second-not-found">
                        <div class="not-found-block">
                            <img src="../../static/main/src/profile/search.svg" alt="" />
                            <h2>Ничего не найдено</h2>
                        </div>
                        <p>Попробуйте изменить условия поиска</p>
                        <a href="#!">
                            <button class="reset-filters">Сбросить фильтры</button>
                        </a>
                    </div>
                </div>

                <div class="profile-block block-3" style="display: none">
                    <div class="profile-third-1st-row">
                        <h2>Мероприятия</h2>
                        <div>
                            <p>Мои мероприятия</p>
                            <p>Все мероприятия</p>
                        </div>
                    </div>

                    <div class="profile-third-search">
                        <input type="input" placeholder="Поиск по мероприятиям" />
                        <a href="#!">
                            <img src="../../static/main/src/profile/lupka.svg" alt="искать" />
                        </a>
                    </div>

                    <div class="profile-third-last-row">
                        <div class="profile-third-last-block select">
                            <p>Все типы мероприятий</p>
                            <select name="мероприятия" id="1">
                                <option value="Выставка"></option>
                                <option value="Вебинар "></option>
                                <option value="Мероприятие"></option>
                                <option value="Встреча"></option>
                                <option value="Конференция"></option>
                                <option value="Обучение"></option>
                            </select>
                        </div>

                        <div class="profile-third-last-block">
                            <p>Дата</p>
                            <a href="#!">
                                <img src="../../static/main/src/profile/calendar.svg" alt="calendar" />
                            </a>
                        </div>
                    </div>

                    <div class="profile-third-info">
                        <div class="profile-third-info-block">
                            <h2>Нет информации</h2>
                            <p>Нет информации</p>
                            <h3>Нет информации</h3>
                        </div>

                        <div class="profile-third-info-block">
                            <h2>Нет информации</h2>
                            <p>Нет информации</p>
                            <h3>Нет информации</h3>
                        </div>
                    </div>
                </div>

                <div class="profile-block block-4" style="display: none"></div>

                <div class="profile-block block-5" style="display: none"></div>

                <div class="profile-block block-6" style="display: none"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
