<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ЦНП</title>
    
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
        <link rel="icon" href="../../static/main/src/section1/stonks.svg" type="image/x-icon">
    </head>
    
    <script src="../../static/main/scripts/profileScript.js" defer></script>
    <script src="../../static/main/scripts/hub-search.js" defer></script>
    <script src="../../static/main/scripts/formPage.js" defer></script>
    <script src="../../static/main/scripts/nav.js" defer></script>
    <script src="../../static/main/scripts/skillsFiltration.js" defer></script>
    <script src="../../static/main/scripts/notifications.js" defer></script>
    <script src="../../static/main/scripts/createProject.js" defer></script>
    {% include "scripts.html" %}

    <body>
        <div class="container">
            <header class="header">
                <div class="header-left">
                    <a class="link active"  href="{% url 'hub' %}">
                        <img class="header-left-logo" src="../../static/main/src/section1/цнп.svg" alt="Цифровая научная платформа" />
                    </a>

                    <div class="header-left-info">    
                        <a class="link org-btn" href="#!">Организациям и ИП</a>
                        <p> / </p>
                        <a class="link pers-btn" href="#!">Физическим лицам</a>
                    </div>
                </div>
    
                <div class="header-right">
                    {% if user.is_authenticated %}
                    <div class="header-right-info">
                        <a class="link req-btn" href="{% url 'form_page' %}">заявка</a>
                    </div>
                    <div class="header-right-info" style="margin-left: 8px;">
                        <a class="link req-btn" href="{% url 'all_projects' %}">проекты</a>
                    </div>
                    {% endif %}
                    
                    <div class="header-right-profile">
                        {% if user.is_authenticated %}
                        <a class="header-right-profile-button link" href="{% url 'logout' %}">Выйти</a>

                        <a class="link" href="{% url 'profile' %}">
                            <img class="header-right-profile-logo" src="../../static/main/src/section1/profile-icon.svg" alt="profile"/>
                        </a>
                        {% else %}
                        <a class="header-right-profile-button link" href="{% url 'form_page' %}">Войти</a>
                        {% endif %}
                        
                    </div>
                </div>
            </header>
            
            <nav class="nav">
                <div class="nav-mobile">
                    <button class="nav-hidden-btn" style="display: grid;">
                        <hr class="long-hr">
                        <hr class="short-hr">
                        <hr class="long-hr">
                    </button>
                </div>

                <ul class="nav-list">
                    <li class="nav-link">
                        <a href="#!"><h1>Организации</h1></a>

                        <div class="nav-dropdown">
                            <div class="nav-dropdown-left">
                                <h5>Организации</h5>
                                <p>Нет информации</p>

                                <button class="nav-dropdown-button">Перейти</button>
                                <img src="../../static/main/src/section1/invest.svg" />
                            </div>

                            <div class="nav-dropdown-right">
                                <p><span>Стартапам</span> <br />Нет информации</p>
                                <hr />
                                <p><span>Инвесторам</span> <br />Нет информации</p>
                            </div>
                        </div>
                    </li>

                    <li class="nav-link">
                        <a href="#!"><h1>ОНОИО</h1></a>

                        <div class="nav-dropdown">
                            <div class="nav-dropdown-left">
                                <h5>Образовательные и научно-исследовательские организации</h5>
                                <p>Нет информации</p>

                                <button class="nav-dropdown-button">Перейти</button>
                                <img src="../../static/main/src/section1/hands.svg" />
                            </div>

                            <div class="nav-dropdown-right">
                                <p><span>Стартапам</span> <br />Нет информации</p>
                                <hr />
                                <p><span>Инвесторам</span> <br />Нет информации</p>
                            </div>
                        </div>
                    </li>

                    <li class="nav-link">
                        <a href="#!"><h1>Проекты</h1></a>

                        <div class="nav-dropdown">
                            <div class="nav-dropdown-left">
                                <h5>Проекты</h5>
                                <p>Нет информации</p>

                                <a class="nav-dropdown-button nav-project-link" href="{% url 'project_list' %}" target="_self">Перейти</a>
                                <img src="../../static/main/src/section1/money.svg" />
                            </div>

                            <div class="nav-dropdown-right">
                                <p><span>Стартапам</span> <br />Нет информации</p>
                                <hr />
                                <p><span>Инвесторам</span> <br />Нет информации</p>
                            </div>
                        </div>
                    </li>

                    <li class="nav-link">
                        <a href="#!"><h1>Обучение и карьера</h1></a>

                        <div class="nav-dropdown">
                            <div class="nav-dropdown-left">
                                <h5>Обучение и карьера</h5>
                                <p>Нет информации</p>

                                <button class="nav-dropdown-button">Перейти</button>
                                <img src="../../static/main/src/section1/building.svg" />
                            </div>

                            <div class="nav-dropdown-right">
                                <p><span>Стартапам</span> <br />Нет информации</p>
                                <hr />
                                <p><span>Инвесторам</span> <br />Нет информации</p>
                            </div>
                        </div>
                    </li>
                    
                    <li class="nav-link">
                        <a href="#!"><h1>Новости</h1></a>

                        <div class="nav-dropdown">
                            <div class="nav-dropdown-left">
                                <h5>Новости</h5>
                                <p>Нет информации</p>

                                <button class="nav-dropdown-button">Перейти</button>
                                <img src="../../static/main/src/section1/book.svg" />
                            </div>

                            <div class="nav-dropdown-right">
                                <p><span>Стартапам</span> <br />Нет информации</p>
                                <hr />
                                <p><span>Инвесторам</span> <br />Нет информации</p>
                            </div>
                        </div>
                    </li>

                    <li class="nav-link">
                        <a href="#!"><h1>Форум</h1></a>

                        <div class="nav-dropdown">
                            <div class="nav-dropdown-left">
                                <h5>Форум</h5>
                                <p>Нет информации</p>

                                <button class="nav-dropdown-button">Перейти</button>
                                <img src="../../static/main/src/section1/book.svg" />
                            </div>

                            <div class="nav-dropdown-right">
                                <p><span>Стартапам</span> <br />Нет информации</p>
                                <hr />
                                <p><span>Инвесторам</span> <br />Нет информации</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
                
            <div class="notification-icon" id="notificationIcon">
                <img src="{% static 'main/src/notification-bell.svg' %}" alt="Уведомления" class="bell-icon">
                <span class="notification-badge" id="notificationBadge" style="display: none;">0</span>
            </div>

            <div class="notifications-dropdown" id="notificationsDropdown" style="display: none;">
                <div class="notifications-header">
                    <h3>Уведомления</h3>
                    <button id="markAllRead" class="mark-all-read">Прочитать всё</button>
                </div>
                <div class="notifications-list" id="notificationsList">
                    <div class="notification-empty">У вас нет уведомлений</div>
                </div>
            </div>

            <main class="switch-content">
                {% block content %}
                
                {% endblock %}
            </main>
        </div>
    </body>
</html>
